* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(wood2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* header */
header {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 18px -3px rgba(0, 0, 0, 0.82);
  padding-bottom: 0px;
  border-bottom: 2px solid #644a3e;
  font-family:  Apex, Trebuchet MS, Calibri;
  z-index: 2;
  position: sticky;
  top: 0;
  /* grid oppdeling av header */
  /* ------------------------ */
  display: grid;
  margin-bottom: -6rem;
  /*------------------gappet mellom header & main (krise løsning)-----*/
  grid-template-columns: 5% 90% 5%;
  width: 100%;
  height: 100%;
  grid-template-rows: 20px auto;
  grid-template-areas:
    ". nav ."
    ". tittel .";
}

.button{
  border: solid #644a3e 3px;
  color: #644a3e;
  font-weight: bold;
  padding: 1em;
  cursor: pointer;
  transition: .5s;

}

.button:hover{
  background-color: #af9183;
  border: solid #251f1d 3px;
  color: #251f1d;
  font-weight: bold;
  padding: 1em;
  cursor: pointer;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  max-height: 50px;
  margin-top: 6px;
  margin-left: 8px;
  grid-area: logo;
  transition: opacity .5s ease-in-out;
  opacity: 0.5
}

.logo:hover {
  transition: opacity .5s ease-in-out;
  opacity: 1
}

header h1 {
  color: #644a3e;
  font-size: 24px;
  margin: 0px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  grid-area: tittel;
  -webkit-transition: color .2s ease-in;
}

header h1:hover {
  -webkit-transition: color .2s ease-in;
  color: #e6723a;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* menyen */
header nav {
  font-size: 11px;
  font-family: Apex, Trebuchet, Calibri;
  text-align: center;
  max-width: 60%;
  margin: auto;
  grid-area: nav;
  padding-top: 5px;
  padding-bottom: 5px;
}

header nav a {
  font-weight: bold;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 15px;
  text-decoration: none;
}

header nav a:hover {
  color: #e6723a;
  border-bottom: 1.5px solid #e6723a;
  background-color: rgba(0, 0, 0, 0.05);
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* main content boksen */
.main-content {
  padding: 0px;
  /* clear: both; */
  margin: auto;
  width: 60%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.49);
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* Intro */
.banner-area {
  border-top: solid 5px rgba(255, 255, 255, 0.9);
  font-family: Apex, Trebuchet, Calibri;
  color: #644a3e;
  font-variant: small-caps;
  transition: opacity .5s ease-in-out;
}

.banner-area img {
  transition: opacity .5s ease-in-out;
  opacity: 0.95;
  margin-bottom: 50px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner-area img:hover {
  transition: opacity .5s ease-in-out;
  opacity: 1;
}

.text-felter {
  width: inherit;
  padding: 35px;
  font-variant: normal;
}

.text-felter p {
  font-size: 1.2em;
  color: #2b2b2b;
  margin-bottom: 1rem;
}

.text-felter h2 {
  font-size: 2.5em;
  margin-bottom: 1rem;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* scrollebaren */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #1b1b1b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #696969;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* aside */
.andretittel {
  margin-top: 25px;
  color: #1b1b1b;
  text-decoration: none;
  text-align: center;
}

.link-liste {
  margin-left: 5%;
}

.aside-fixed {
  font-family: Apex, Trebuchet, Calibri;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.49);
  padding: 15px;
  clear: both;
  position: absolute;
  left: 83.59%;
  top: 30%;
  width: 13%;
  position: sticky;
  top: 1;
}

.aside-meny a {
  color: #644a3e;
  text-decoration: none;
  line-height: 2rem;
}
.aside-meny a:hover {
  color: #1b1b1b;
  text-decoration: underline;
}

.pixel-me {
  max-width: 60%;
  display: block;
  margin: auto;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* footer */
footer {
  width: 100%;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.9);
  clear: both;
  margin-top: 10rem;
  border-top: 2px solid #644a3e;
  box-shadow: 0px 16px 7px 22px rgba(0, 0, 0, 0.49);
}

#kontakt-info {
  margin: 0.5rem;
  margin: 1.5rem;
  display: inline-flex;
}

#epost {
  margin-right: 20px;
  font-weight: bold;
  color: #644a3e;
}

#copyright {
  font-size: 0.7rem;
  font-weight: bold;
}

#contact {
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  text-align: center;
  color: #644a3e;
  font-family: Apex, Trebuchet, Calibri;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* MEDIA QUERIES */
@media screen and (min-width: 325px) and (max-width: 730px) {
  .main-content {
    width: 100%;
  }

  header nav a {
    margin-left: 10px;
    ;
    margin-right: 0;
  }

  header nav {
    max-width: 90%
  }

  .aside-fixed {
    margin: auto;
    display: block;
    clear: both;
    position: relative;
    width: 90%;
    left: 0;
    margin-bottom: 10%;
    margin-top: 25rem;
    text-align: center;
    padding-right: 20px;
  }

  .aside-fixed img {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 325px) {
  .main-content {
    width: 100%;
    margin-top: 1rem;
  }

  header .logo {
    display: none;
  }

  header nav a {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
  }

  header {
    position: absolute;
    /* grid oppdeling av header */
    /* ------------------------ */
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    height: 100px;
    grid-template-rows: auto auto;
    grid-template-areas:
      " nav nav nav"
      "tittel tittel tittel";
  }

  header nav {
    max-width: 100%;
    padding: 0px;
    margin: 0;
    text-align: center;
  }

  .aside-fixed {
    margin: auto;
    display: block;
    clear: both;
    position: relative;
    width: 90%;
    left: 0;
    margin-bottom: 10%;
    margin-top: 8rem;
    text-align: center;
    padding-right: 20px;
  }

  .aside-fixed img {
    display: none;
  }
}
